<div class="cabecalho" >
<h1>Clientes</h1>
</div>
<br>
    <div>
        <button mat-raised-button color="success" class="full-width"> 
            <a [routerLink]="[ '/todo/']"> Novo Cliente</a>
         </button>
    </div>
<br>
<br>
<div fxLayout="row wrap" fxLayoutGap="10px" >
    <ng-container *ngFor="let item of todoListArray; let itemIndex = index">
        <mat-card class="todoItem">
            <mat-card-header> 
                <mat-card-title>
                {{item.todoTitle}}  
                </mat-card-title>
                <mat-card-subtitle>Data de Nascimento: {{item.creationDate | date:"dd/MM/yyyy"}}</mat-card-subtitle>
                <mat-card-subtitle>Ativo: {{item.done == '0' ? 'Não' : item.done == '1' ? 'Sim' : 'erro'}}</mat-card-subtitle>                
                <mat-card-subtitle>Sexo: {{item.priority == 1 ? 'Masculino' : item.priority == 2 ? 'Feminino' : 'erro'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions layout="row" align="end">
                    <button mat-button>
                        <a [routerLink]="[ '/todo', item.id]">
                            <mat-icon>edit</mat-icon>
                        </a>
                    </button>                        
                <button mat-button (click)="concludeTodo(itemIndex)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>

<ngx-loading [show]="loading"></ngx-loading>